*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Playwrite DE Grund", cursive;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-color: rgb(252, 89, 105) 100%;
    
}
.logo{
    color: aliceblue;
    font-size: 28px;
}
.logo:hover{
     color: rgba(11, 8, 36, 1);
    transition: 2s;
}
span{
    color: rgba(11, 8, 36, 1);
}
.where{
    color: aliceblue;
    font-size: 15px;
}
.where:hover{
     color: rgba(11, 8, 36, 1);
    transition: 2s;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}
nav ul li a:hover{
    color: rgba(11, 8, 36, 1);
    transition: 2s;
}

/* End of NavBar */
body{
    background-color: rgb(255, 180, 180);
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: rgb(177, 26, 26);
}
.heading p{
    font-size: 18px;
    margin-bottom: 35px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.aboutimg{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
   
}
.aboutimg img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 40px;
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;

}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    background-color: white;
}
.about-content .read-more:hover{
    background-color: rgb(252, 89, 105);
}
FAQ
.container2{
    padding-top: 100px;
    max-width: 75%;
    margin: auto;
}
.container2 >h1{
    margin: 1.5rem 0;
    text-align: center;
    letter-spacing: 3px;
}

.titles{
    background-color: aliceblue;
    color: rgba(0,0,0,0.8);
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.active, .titles:hover{
    background-color:rgb(177, 26, 26);
    transition: 2s ease;
}
.panel{
    padding: 0 2remv 2.5rem 2rem;
    background-color: white;
    
}
.panel p{
    color: rgba(0,0,0,0.7);
    font-size: 1.2rem;
    line-height: 1.4;
    overflow: hidden;
}
.faq{
    border: 1px solid rgba(0,0,0,0.2);
}
.faq.active{
    border: none;
} 