* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite DE Grund", cursive;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-color: rgba(172, 9, 26, 1) 100%;
    
}
.logo{
    color: aliceblue;
    font-size: 28px;
}
.logo:hover{
     color: rgba(11, 8, 36, 1);
    transition: 2s;
}
span{
    color: rgba(11, 8, 36, 1);
}
.where{
    color: aliceblue;
    font-size: 15px;
}
.where:hover{
     color: rgba(11, 8, 36, 1);
    transition: 2s;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}
nav ul li a:hover{
    color: rgba(11, 8, 36, 1);
    transition: 2s;
}

body {
    background: #0B0824;
    background: linear-gradient(0deg, rgba(11, 8, 36, 1) 0%, rgba(84, 8, 31, 1) 70%, rgba(172, 9, 26, 1) 100%) no-repeat;
}

.intro {
    margin: 30%;
    border-radius: 40px;
    width: 50%;
    margin: 0 auto;
}

.intro h1,
h2,
h3 {
    text-align: center;
    color: aliceblue;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #320822;
    border-radius: 40px;
    padding: 30px 40px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 15px;
    color: azure;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.514);
    
}

.wrapper h1 {
    text-align: center;
}

.wrapper p {
    position: relative;
    width: 70%;
    padding-top: 1%;
    padding-left: 15%;
    padding-bottom: 2%;
}

.exam {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.code {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color:#071a5c;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.514);
 
}
.code h1{
    text-align: center;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
}
form input, form textarea{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: color(from color srgb r g b);
}
form input:focus, form textarea:focus{
    outline: none;
    box-shadow: 0,0,5 #320822;
}
form button{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:color(from color srgb r g b);
}
form button:hover{
    background-color: rgba(172, 9, 26, 1);
    transition: 1s ease;
}